<footer class="site-footer">

  <div class="container">
  	<div class="social">
	    <a class="fa fa-weixin" href="http://t.cn/RLYN2Pr" target="_blank">
	    	<img src="{{ site.qrcode | prepend: site.BASE_STATIC_URL }}" />
	    </a>
	    <a class="fa fa-weibo" href="http://weibo.com/u/3030482914" target="_blank"></a>
	    <a class="fa fa-envelope" href="mailto: lijin.paul@gmail.com" target="_blank"></a>
	    <a class="fa fa-rss" href="/feed.xml" target="_blank"></a>
	</div>

  	<div class="copyright">
    	© 2013-2015 {{ site.title }}  |  陕ICP备14001344号  |  西安市碑林区南二环西段西安创新设计中心22层（在建）
    </div>

  </div>
</footer>

<script src="{{ "assets/bootstrap/js/jquery.min.js" | prepend: site.qiniu }}"></script>
<script src="{{ "assets/bootstrap/js/bootstrap.min.js" | prepend: site.qiniu }}"></script>

<script>
	$(window).on('scroll',function(){
			var stop = Math.round($(window).scrollTop());
			if (stop > 0) {
					$('.navbar').removeClass('navbar-transparent');
					$('.navbar').removeClass('navbar-inverse');
					$('.navbar').addClass('navbar-default');
			} else {
					$('.navbar').addClass('navbar-transparent');
					$('.navbar').addClass('navbar-inverse');
					$('.navbar').removeClass('navbar-default');
			}
	});
</script>
