<ul class="row member-list">
  {% for member in page.members %}
    <li class="col-md-6">
      <div class="member">
        <div class="member-avatar">
            {% if member.avatar %}
              <img src="{{ member.avatar | prepend: site.BASE_STATIC_URL }}"/>
            {% endif %}
        </div>
        <div class="member-body">
          <h3>{{ member.name }}</h3>
          <p>{{ member.intro }}</p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>

<div class="clearfix"></div>
