/**
 * Custom
 **/


body {
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 15px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    color: #333;
    &:hover {
        color: #e42b2b;
    }
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    transition: color .3s linear;
}

.navbar{
    min-height: 60px;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    .navbar-header .navbar-toggle {
        border-width: 0px;

        &:hover {
            background-color: transparent;
        }
    }

    &.navbar-default {
        background: white;
        box-sizing: content-box;
        border-color: #f5f5f5;

        .navbar-brand {
            color: #333333;
        }
    }

    .navbar-nav {
        li {
            a {
                padding-top: 0;
                padding-bottom: 0;
                line-height: 60px; 
                height: 60px;
                font-size: 14px;
                border-bottom: 2px solid transparent;
            }
            &.active{
                a {
                    color: #e42b2b;
                    background: none;
                    &:hover {
                        background: none;
                    }
                }
            }
        }
    }

    &.navbar-inverse {
        background-color: #303848;
        border: none;

        .navbar-brand {
            color: #ffffff;
        }

        li {
            a {
                color: #f0f0f0;
                &:hover {
                    color: white;
                }
            }
            &.active{
                a {
                    color: white;
                }
            }
        }

        .navbar-collapse {
            border-width: 0;
        }
    }
    
    &.container {
        padding: 0px;
    }

    &.navbar-transparent {
        background: transparent;
        border: none;
    }
    
    .navbar-header {
        h1 {
            margin: 0px;
        }
        .navbar-toggle {
            margin-top: 15px;
        }
    }

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
        font-weight: 700;

        img {
            margin-top: 12px;
        }
    }

    .nabar-nav {
        height: 60px;
        line-height: 60px;
        float: right;
        margin-right: -15px;
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

.site-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 60px;
    color: #767676;
    font-size: 14px;
    border-top: 1px solid #e5e5e5;

    .qrcode {
        text-align: center;
        img {
            width: 100px;
            margin-bottom: 10px;
        }
    }

    .container {
        position: relative;
    }

    .social {
        position: absolute;
        right: 0;
        top: 0;
        a {
            color: #fff;
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            border-radius: 50%;
            background: #888888;
            margin-left: 10px;
            font-size: 15px;
            line-height: 30px;
            text-align: center;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &.fa-weixin img {
                display: none;
            }

            &.fa-weixin:hover {
                background: #44b549;
                img {
                    display: block;
                    width: 120px;
                    position: absolute;
                    left: -35px;
                    bottom: 40px;
                }
            }
            &.fa-weibo:hover {
                background: #E46F6C;
            }
            &.fa-envelope:hover {
                background: #47a6d9;
            }
            &.fa-rss:hover {
                background: #e9640e;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    
}

.icon {
    width: 24px;
    height: 24px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.index-banner {
    background-image: url(/assets/img/home-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    color: #ffffff;
    text-align: center;

    .slogan {
        margin-top: 180px;
        font-size: 32px;
    }

    .slogan-description {
        color: rgba(255,255,255,.7)
    }

    .slogan-info {
        margin-top: 20px;
    }
}

.btn-round {
    border-radius: 100px;
    padding: 6px 30px;
    background: transparent;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #e42b2b;
    color: #e42b2b;

    &:hover {
        border-color: #d43b3b;
        color: #d43b3b;
    }

    &.slogan-info {
        margin-top: 40px;
        color: #d0d0d0;
        border: 1px solid #d0d0d0;

        &:hover {
            border-color: white;
            color: white;
        }
    }
}

.center {
    text-align: center;
}

.banner {
    background: #333;
    background-size: cover;
    width:100%;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;

    p {
        font-size: 18px;
    }

    .banner-content {
        background: rgba(54, 61, 77, .3);
        text-align: center;
        height: 280px;
    }
}


/**  Startup  **/

.startups {
    background: #f0f2f7;
    margin-bottom: -60px;
    padding-bottom: 60px;
}

.startup-list {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    li {
        float: left;
        width: 25%;
        padding: 15px;
        font-size: 13px;
        line-height: 20px;
        list-style: none;
        
        .item {
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 0 3px #e1e1e1;
            color: #888;
            overflow: hidden;


            &.go-archive{
                height: 274px;
                text-align: center;
            }

            .item-cover {
                position: relative;
                display: block;
                overflow: hidden;
                height: 150px;
                img {
                    width: 100%;
                    min-height: 150px;
                      -moz-transform: scale(1);
                      -ms-transform: scale(1);
                      -webkit-transform: scale(1);
                      transform: scale(1);
                      -moz-transition-duration: 0.5s;
                      -o-transition-duration: 0.5s;
                      -webkit-transition-duration: 0.5s;
                      transition-duration: 0.5s;
                    
                }
                &:hover {
                    img {
                          -moz-transform: scale(1.1);
                          -ms-transform: scale(1.1);
                          -webkit-transform: scale(1.1);
                          transform: scale(1.1);
                          -moz-transition-duration: 0.5s;
                          -o-transition-duration: 0.5s;
                          -webkit-transition-duration: 0.5s;
                          transition-duration: 0.5s;
                    }
                }
            }
            

            .item-body {
                padding: 25px;
                position: relative;
                text-align: center;
                h3 {
                    margin: 0px;
                    font-size: 18px;
                    a {
                       color: #333;
                       &:hover {
                            color: #666;
                       } 
                    }
                }
                p {
                    margin-top: 15px;
                    margin-bottom: 0;
                    font-size: 14px;
                    height: 40px;
                }
            }
        }
    }
    
}

.startup-header {
    overflow: hidden;
    padding: 0 !important;
    .startup-cover {
        display: block;
        overflow: hidden;
        padding: 0;
        height: 150px;
        img {
            
        }
    }
    .startup-info {
        padding-left: 20px;
        .title {
            font-size: 28px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: 700;
        }
        .desc {

        }
        .addr {
            color: #777777;
            font-size: 14px;
            margin-top: 24px;
            margin-bottom: 15px;
        }
    }
}

.startup {
    .startup-main {
        .intro {
            p {
                line-height: 1.8;
                margin-bottom: 16px;
            }
            h2 {
                font-size: 16px;
            }
        }
        .startup-progress {
            ul li {
                line-height: 2;
                span {
                    float: left;
                    width: 120px;
                }
            } 
        }
        .team {
            padding-bottom: 8px;
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    &.member {
                        float: left;
                        margin-bottom: 10px;
                        width: 100%;
                        .member-avatar {
                            float: left;
                            padding-right: 12px;
                            width: 30%;
                            max-width: 100px;
                            img {
                                border-radius: 2px;
                            }
                        }
                        .member-body {
                            &.full {
                                width: 100%;
                            }
                            float: left;
                            width: 70%;
                            .member-name {
                                margin-bottom: 5px;
                                font-weight: 700;
                                color: #333;
                            }
                            .member-position, .member-desc {
                                color: #666;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.cbox {
    background: #fff;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 20px;

    .box-title {
        border-bottom: 1px solid #f2f2f2;
        margin: 0px;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 20px;
        margin-top: -5px;
        padding-left: 20px;

        h2 {
            margin: 0 !important;
            font-size: 16px;
            display: inline-block;
            border-bottom: 2px solid #27ae60;
            padding-bottom: 14px;
        }
    }

    ul {
        margin: 0;
    }
}

.sidebar {
    margin-top: 5px;
    padding-right: 40px;
    .cbox {
        border: none;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        ul {
            list-style: none;
            padding: 0;
        }
    }
}

.nopad {
    padding: 0 !important;
}


/***  Post ***/

.page {
    padding-top: 40px;

    .post-content {
        h1, h2 {
            font-weight: normal;
            border: none;
        }

        // hr {
        //     display: block;
        //     width: 42px;
        //     height: 6px;
        //     background-color: #e42b2b;
        //     margin: 0 auto 30px;            
        // }
    }
}

.post {
    font-size: 16px;
}

.post-list {
    .cbox {
        padding-bottom: 5px;
    }
    ul {
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0;
        li {
            font-size: 16px;
            margin-bottom: 15px;
            a {
                color: #333;
                display: inherit;
                line-height: 1.6;
                &:hover {
                    color: #27ae60;
                }
            }
            .publish-date {
                float: right;
                font-size: 14px;
                color: #666;
                line-height: 1.6;
                margin-left: 10px;
            }
        }
    }
}

.posts-category {
    font-size: 16px;
    ul {
        li {
            line-height: 30px;
            a {
                color: #333;
            }
        }
    }
}

.post {
    max-width: 700px;
    width: 100%;
    margin: 0 auto; 

    .post-header {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

.post-page {
    .cbox {
        border: 1px solid #f3f3f3;
    }
}



article {
    a {
        color: #27ae60;
    }

    p {
        line-height: 1.8;
        margin-bottom: 15px;
    }

    img {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    h1, h2, h3 {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2, h3 {
        font-size: 20px;   
    }

    h4 {
        font-size: 16px;
        line-height: 40px;
    }

    h2 {
        border-bottom: 1px solid #eee;
        padding-bottom: 0.5em;
        margin-top: 50px;
    }

    blockquote {
        font-size: inherit;
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        p {
            margin-bottom: 0px;
        }
    }

    table {
        font-size: 15px;
    }

    ul, ol {
        margin-bottom: 25px;
        line-height: 1.6;
        li {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    hr {
        height: 1px;
        width: 20%;
        margin: 50px auto;
        border-top: 1px solid #e4e4e4;
    }

    code {
        color: #27ae60;
    }

    pre code {
        color: inherit;
    }
}


.cbox {
    padding: 20px;
}

.title-box,
.posts-category,
.startup-progress, {
    padding: 20px;
    ul {
        padding: 0;
        list-style: none;
    }
}

/** Service **/

.page {
    .main-content {
        padding-left: 30px;
        h1.title {
            font-size: 24px;
            margin-top: 0 !important;
            margin-bottom: 40px;
        }
    }
    ul.member-list {
        float: left;
        list-style: none;
        padding: 0;
        li {
            float: left;
            margin-bottom: 10px;
            padding-right: 30px;
            font-size: 13px;
            line-height: 20px;

            .member-body {
                h3 {
                    font-size: 18px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 14px; 
                    margin-bottom: 5px;
                }
            }
        }
    }
    .sidebar {
        .cbox {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 16px;
        }
        ul {
            padding: 0 !important;
            li {
                line-height: 30px;
                display: inline-block;
                width: 100%;
                a {
                    display: block;
                    line-height: 50px;
                    i {
                        width: 30px;
                        &.right-arrow {
                            display: none;
                            float: right;
                            margin: 0 auto;
                            line-height: 50px;
                            font-size: 14px;
                            text-align: end;
                        }
                    }
                }
                &.active {
                    a {
                        font-weight: bold;
                        &:hover {
                            color: #333;
                        }
                        i.right-arrow {
                            display: inline;
                            color: #27ae60;
                        }
                    }
                }
            }

        }
    }
}


table {
    margin-top: 15px;
    tr {
        background-color: #fff;
        border-top: 1px solid #ccc;
    }
    td, th {
        padding: 6px 13px;
        border: 1px solid #ddd;
    }
}

.full {
    width: 100%;
}



.banner {
    .banner-content {
        .post-title-wrapper {
            padding: 100px 0;
        }
    }
}



section {
    &.section-even {
        background-color: #ffffff;
    }
    &.section-odd {
        background-color: #f5f5f5;
    }

    hr {
        display: block;
        width: 42px;
        height: 6px;
        background-color: #e42b2b;
        margin-bottom: 40px;
        margin-top: 15px;
    }

    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .member {
        background-color: white;
        padding: 10px 20px;
        margin-bottom: 15px;
        min-height: 170px;
        
        p {
            font-size: 14px;
            line-height: 1.6;
        }
    }

    .partner-item {
        margin-bottom: 15px;
        img {
            max-width: 120px;
        }
    }

    .consultant {
        p {
            font-size: 12px;
            line-height: 1.7;
        }
    }

    .course {
        p {
            font-size: 14px;
            line-height: 1.6;
        }
    }
}


@media screen and (min-width: 1200px) {
    section .container {
        width: 900px;
    }
}

@media screen and (max-width: 992px) {
    .startup-list {
        li {
            width: 50%;
            .item {
                .item-cover {
                    height: 180px;
                    img {
                        min-height: 180px;
                    }
                }
            }
        }
    }
    .startup-header {
        .startup-cover {
            height: auto;
            img {
                width: 100%;
            }
        }
    }
    .startup {
        .startup-main {
            .team {

            }
        }
    }
    .page { 
        .left-divider {
            padding-left: 15px;
            border-left: none;
        }
        .sidebar {
            padding-right: 15px;
            text-align: center;
            margin-top: -20px;
        }
    }
    .page {
        .sidebar {
            text-align: inherit;
            .cbox {
                padding-top: 8px;
                padding-bottom: 8px;
                background-color: #f5f5f5;
            }
            ul li {
                text-align: center;
                width: 49%;
                a {
                    line-height: 60px;
                    i {
                        margin-left: -10px;
                    }
                }
                &.active {
                    a {
                        color: #27ae60;
                    }
                    a i.right-arrow {
                        display: none;
                    }
                }
                &:hover a {
                    color: #27ae60;
                }
            }
        }
    }
}

.clearfix {
    clear: left;
}

/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: rgb(130, 130, 130);
        }
    }
}


/** jinshuju **/

.jinshuju {
    border: 1px solid #eee;
    padding: 20px;
}


/** home **/

.home-saying {
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
}

.sec {
    padding: 40px 0;

    &.sec-even {
        background: none;
    }

    &.sec-odd {
        background-color: #f5f5f5;
    }

    .sectitle {
        text-align: center;
    }   

    .secbody {
        margin-bottom: 15px;
        padding: 0 8%;
    }

    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    hr {
        display: block;
        width: 42px;
        height: 6px;
        background-color: #e42b2b;
        margin-bottom: 40px;
        margin-top: 15px;
    }

    .col-md-2 {
        margin-bottom: 15px;
    }

    &.partners {
        background: #f7f7f7;

        .partners-detail {
            margin-top: 40px;
            margin-bottom: 20px;

            .partner-logo {
                max-width: 140px;
            }
        }
    }

    &.service {
        background: white;

        .service-collums {
        }

        .item {
            text-align: center;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: none;
            overflow: hidden;

            .cbox {
                height: 270px;
                padding: 40px 30px 30px 30px;
                border-radius: 4px;
                overflow: hidden;
                
                h4 {
                    font-size: 18px;
                    margin: 15px 0px;
                }

                p {
                    font-size: 14px;
                    line-height: 1.8;
                    color: #666666;
                }
            }
        }

        .service {
            width: 90px;
            height: 90px;
            border-radius: 100%;
            overflow: hidden;
            display: inline-block;
            
            &.incubator {
                background: #55A3DA url("/assets/img/service-incubate.png") center center no-repeat;
            }
            &.education {
                background: #DCA559 url("/assets/img/service-education.png") center center no-repeat;
            }
            &.invest {
                background: #E06596 url("/assets/img/service-invest.png") center center no-repeat;
            }
        }
    }

    &.feature-startups {
        background: #fff;
        padding: 40px 20px;

        .startup-list {
            margin-top: -10px;
        }

        .item {
            background-color: #fff;
            border-radius: 2px;
            color: #888;
            border: 1px solid #eee;
            box-shadow: none;
            overflow: hidden;

            .item-cover {
                position: relative;
                display: block;
                overflow: hidden;
                height: 150px;
                img {
                    width: 100%;
                    min-height: 150px;
                      -moz-transform: scale(1);
                      -ms-transform: scale(1);
                      -webkit-transform: scale(1);
                      transform: scale(1);
                      -moz-transition-duration: 0.5s;
                      -o-transition-duration: 0.5s;
                      -webkit-transition-duration: 0.5s;
                      transition-duration: 0.5s;
                    
                }
                &:hover {
                    img {
                          -moz-transform: scale(1.1);
                          -ms-transform: scale(1.1);
                          -webkit-transform: scale(1.1);
                          transform: scale(1.1);
                          -moz-transition-duration: 0.5s;
                          -o-transition-duration: 0.5s;
                          -webkit-transition-duration: 0.5s;
                          transition-duration: 0.5s;
                    }
                }
            }
            

            .item-body {
                padding: 25px;
                position: relative;
                text-align: center;
                h3 {
                    margin: 0px;
                    font-size: 18px;
                    a {
                       color: #333;
                       &:hover {
                            color: #666;
                       } 
                    }
                }
                p {
                    margin-top: 15px;
                    margin-bottom: 0;
                    font-size: 14px;
                    height: 40px;
                }
            }
        }
    }

    &.ending {
        padding-top: 60px;
        .epilogue {
            font-size: 18px;
        }
    }
}



// -----


@media screen and (max-width: 768px) {
    .navbar .navbar-nav {
        float: none; 
        li {
            margin-left: 0;
            a {
                color: #333333;
                background-color: white;
                &:hover {
                    color: #333333;
                    background-color: #f3f3f3;
                }
            }
            &.active a {
                border-color: transparent;
            }
        }
    }
    .navbar-collapse {
        background-color: white;
        .navbar-nav {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: -7.5px;
            padding-bottom: -7.5px;
        }
    }
    .startup-list {
        li {
            width: 100%;
        }
    }
    .banner {
        h2 {
            font-size: 24px;
        }
        p {
            font-size: 16px;
        }
    }
    .index-banner {
        .slogan {
            font-size: 28px;
        }
    }
    .page {
        padding-top: 20px;
        .cbox {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    .site-footer {
        text-align: center;
        .social {
            position: relative;
            margin-bottom: 20px;
        }
    }
}
